# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.cache/
.ipynb_checkpoints/
build/
dist/
.DS_Store
storage/
med_sources/
chroma_db/

# temporary files
.github/
.vscode/
HealthMate_Proposal.md
info_gather_agent_wo_api_key.py
langgraph_tutorial.py
development_plan.md

README.md